
.post-title{
  font-size: 20pt;
}


.paper-title{
  font-size: 24pt;
  text-align: center;
  margin-left: auto;

  max-width: 60rem;
  margin-right: auto;
}

.paper {
  padding-top:    3rem;
  padding-bottom: 4rem;
  padding-left: 2em;
  padding-right: 2em;
}
  .paper-content{
		margin-left: auto;
		margin-right: auto;
	}


.title_information {
	margin-left: auto;
	margin-right: auto;
	max-width:100%;
	text-align: center;
}

@media (max-width: 765px) {
	.video_abstract{
		visibility: hidden;
		display: none;
	}
	.image_abstract{
	visibility: visible;
	display: inline;
}
}
@media (min-width: 766px) {
	.video_abstract{
	visibility: visible;
	display: inline;
	}
	.image_abstract{
		visibility: hidden;
		display: none;
}
}
@media (min-width: 48em) {

.paper-title{
  font-size: 32pt;
}

  .paper {
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
  }
  .paper-content{
		width: 32rem;
	}

}

@media (min-width: 64em) {
  .paper {
    max-width:  60rem;
    margin-left: auto;
    margin-right: auto;
  }
  .paper-content{
	width: 42rem;
}
.paper-title{
  font-size: 32pt;
}

}

.author {
	width:100%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: bold;
}

.paper-container{
	margin-left: auto;
	margin-right: auto;
}

.visual_abstract{
	margin-left: auto;
	margin-right:auto;
	width:100%;
	text-align: center;
}

.abstract{	margin-left:auto;
	margin-right: auto;
}

.abstract-title{

  	font-size: 28pt;
	text-align: center
}

.paper h2{
  	font-size: 28pt;
	text-align: center
}


/* courtecy if Ohukkuo Usika */

.layered-paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
	box-shadow:
	        0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
	        5px 5px 0 0px #fff, /* The second layer */
	        5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
	        10px 10px 0 0px #fff, /* The third layer */
	        10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
	        15px 15px 0 0px #fff, /* The fourth layer */
	        15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
	        20px 20px 0 0px #fff, /* The fifth layer */
	        20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
	        25px 25px 0 0px #fff, /* The fifth layer */
	        25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
	margin-left: 10px;
	margin-right: 45px;
}


.layered-paper { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
	box-shadow:
	        0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
	        5px 5px 0 0px #fff, /* The second layer */
	        5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
	        10px 10px 0 0px #fff, /* The third layer */
	        10px 10px 1px 1px rgba(0,0,0,0.35); /* The third layer shadow */
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 30px;
	margin-bottom: 5px;
}

.paper-link{
	max-width:35em;
	margin-left:auto;
	margin-right: auto;

}
