<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    <div class="paper-container">
	      <div class="paper">
			<h1 class="paper-title">{{ page.title }} [<a href={{ page.arxiv }}>arxiv</a>]</h1>
			<div class="title_information">
				{% for id in page.authors %}
					<span class="author"> <a  href={{ id[1] }}> {{ id[0] }}</a><sup>{{ id[2] }}</sup> </span>

				{% endfor %}
			</div> 

			<div class="title_information">
				{% for inst in page.institutions %}
				{{ inst }}
				{% endfor %}
			</div> 

			<div class="paper-content">
				{{% if page.visual_abstract %}}
					<div>
						<img class="visual_abstract" src={{ page.visual_abstract}} />

					</div>
				{{% endif %}}

				{{% if page.video_abstract %}}
				<div>
					<video class="visual_abstract" autoplay loop muted playsinline>
						<source src="/public/video.mp4" type="video/mp4">
						<source src="/public/video.webm" type="video/webm" onerror="fallback(parentNode)">
						<img class="visual_abstract" src="/public/algtop.png" />
					</video>
				</div>
				
				{{% endif %}}

				<div class="abstract">
					<h2 class="abstract-title"> Abstract</h2>
					{{ page.abstract }}
				</div>
				{{ content }}
		  </div>
		</div>
	</div>

  </body>
</html>

